@use "../../variables" as v;

.btn {
  all: unset;
  border: 1px solid;
  width: inherit;
  border-radius: 4px;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;

  // Default padding for buttons without the btn-with-icon class
  &:not(.btn-with-icon) {
    padding: 12px 10px;
    &.aui-btn-text {
      padding: 13px 10px;
    }
  }

  &.btn-with-icon {
    padding: 9px 10px;
    &.aui-btn-primary {
      padding: 10px;
    }
  }

  i {
    color: inherit;
    font-size: 20px;
    line-height: normal;
  }

  &:not(.aui-btn-text):hover {
    box-shadow: 12px 8px 24px 0px rgba(33, 126, 192, 0.2);
    color: inherit;
  }

  &:focus {
    box-shadow: none;
  }

  // Font weights
  &.font-weight-light {
    font-weight: 400;
  }

  &.font-weight-normal {
    font-weight: 500;
  }

  &.font-weight-semi-bold {
    font-weight: 600;
  }

  &.font-weight-bold {
    font-weight: 700;
  }

  // Top-to-Bottom (icon on top, text below)
  &.dir-top-to-bottom {
    flex-direction: column; // Stack icon above text
  }

  // Bottom-to-Top (icon at the bottom, text above)
  &.dir-bottom-to-top {
    flex-direction: column-reverse; // Stack icon below text
  }

  &.dir-ltr {
    flex-direction: row;
  }

  &.dir-rtl {
    flex-direction: row-reverse;
  }

  // Disabled state styles
  &:disabled {
    background-color: v.$grey-60;
    color: v.$white;
    border: none;
    padding: 11px 10px;
    outline: none;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
    &:hover,
    &:active {
      box-shadow: none;
      transform: none;
    }
  }
}

// Variant 1: Background-color: #1579BE, Color: #fff, Border-color: #1579BE
.aui-btn-primary {
  background-color: v.$blue-100;
  color: v.$white;
  border: none;
}

// Variant 2: Background-color: #FFF, Color: #1579BE, Border-color: #1579BE
.aui-btn-outlined {
  background-color: v.$grey-30;
  color: v.$blue-100;
  border-color: v.$blue-100;
}

// Variant 3: Background-color: #E8F2F8, Color: #1579BE, Border-color: #1579BE
.aui-btn-secondary {
  background-color: v.$blue-10;
  color: v.$blue-100;
  border-color: v.$blue-100;
}

// Variant 4: Background-color: #FBF3E5, Color: #D58C00, Border-color: #DEA333
.aui-btn-tertiary {
  background-color: v.$yellow-10;
  color: v.$yellow-100;
  border-color: v.$yellow-80;
  &:hover {
    box-shadow: 12px 8px 24px 0px rgba(213, 140, 0, 0.2);
  }
}

// Variant 5: Background-color: #FFF, Color: #909090, Border-color: #EEE
.aui-btn-icon {
  border-color: v.$grey-20;
  background-color: v.$grey-30;
  color: v.$grey-70;

  &:hover {
    box-shadow: 2px 2px 8px #909090a4;
    background-color: #157abe27;
    border-color: v.$blue-100;
    color: v.$blue-100;
  }

  &[data-active="true"] {
    background-color: #157abe27;
    border-color: v.$blue-100;
    color: v.$blue-100;
    i {
      color: v.$blue-100;
    }
  }
}

// Variant 6: Color: #909090
.aui-btn-text {
  border: none;
  color: #909090;
  background-color: transparent;
}
