$blue-100: #1579BE ;
$blue-80: #4494CB;
$blue-60:#73AFD8;
$blue-40:#A1C9E5;
$blue-20:#D0E4F2;
$blue-10:#E8F2F8;

$white:#fff;

// Grey Colours
$grey-100: #000000;
$grey-90: #303030;
$grey-80: #606060;
$grey-70: #909090;
$grey-60: #AAAAAA;
$grey-50: #303030;
$grey-40: #F0F0F0;
$grey-30: #FFFFFF;

// Status Colours - Red
$red-100: #E43E2B;
$red-80: #E86A58;
$red-60: #E98785;
$red-40: #EBA4B2;
$red-20: #F0C1C0;
$red-10: #F4DCD5;

// Status Colours - Green
$green-100: #2BA24C;
$green-80: #53B372;
$green-60: #7BC598;
$green-40: #A3D6BE;
$green-20: #CCE8E4;
$green-10: #E0F2EC;

// Status Colours - Orange
$orange-100: #D58C00;
$orange-80: #DD9C33;
$orange-60: #E6AC66;
$orange-40: #EEBC99;
$orange-20: #F7CACC;
$orange-10: #F9E2D6;

// Status Colours - Purple
$purple-100: #9636E1;
$purple-80: #AA63E5;
$purple-60: #BF91E9;
$purple-40: #D3BEEE;
$purple-20: #E8DCF2;
$purple-10: #F3EAF7;

// Status Colours - Teal
$teal-100: #009797;
$teal-80: #33A8A8;
$teal-60: #66B9B9;
$teal-40: #99CACA;
$teal-20: #CCE0E0;
$teal-10: #E6F0F0;

// Gradient Colours
$gradient-purple: linear-gradient(to right, #9636E1, #009797);
$gradient-blue: linear-gradient(to right, #009797, #2BA24C);
$gradient-teal: linear-gradient(to right, #2BA24C, #D58C00);
$gradient-green: linear-gradient(to right, #D58C00, #E43E2B);
$gradient-yellow: linear-gradient(to right, #E43E2B, #9636E1);
$gradient-red: linear-gradient(to right, #9636E1, #009797);

// --- font width -----/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// ----- text --------
$font-size-small: 0.875rem; // 14px
$font-size-regular: 1rem; // 16px
$font-size-large: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px